:root{
    --font-color:#FFFFFF;
}
body{
    display: flex;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
.background{
    position: relative;
    background-image: url("./images/pawel-czerwinski-NTYYL9Eb9y8-unsplash.jpg") ;
    width: 400px;
}

.footer{
    position: absolute;
    color: var(--font-color);
    font-size: 14px;
    text-align: center;
    margin: auto;
    bottom: 5px;

}