:root{
    --font-color:#FFFFFF;
    --light-bg-color:#353333;
    --main-bg-color:#231E1E;
    --def-form-color:#A5A5A5;
}
body{
    color: var(--font-color);
    display: flex;
    font-family:'Roboto', sans-serif;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
.background{
    position: relative;
    background-image: url("./images/pawel-czerwinski-NTYYL9Eb9y8-unsplash.jpg") ;
    background-size: 100% 100%;
    width: 350px;
}

.main-container{
    width: 100%;
}

.quote-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh;
    background-color: var(--light-bg-color);
}
.quote{
    position: relative;
    display: flex;
    padding: 20px;
    font-size: 40px;
    box-sizing: border-box;

}
.quote>span{
    font-size: 24px;
    position: absolute;
    font-style: italic;
    font-weight: 100;
    right: 0;
    bottom: 0;
}

.form-container{
    height: 60vh;
    background-color: var(--main-bg-color);
 

}
.inputs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);

}

.footer{
    position: absolute;
    margin: 0px;
    font-size: 14px;
    text-align: center;
    bottom: 0px;

}

.account-creation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: red;
    border: none;
    color: var(--font-color );
}

button:hover{
    background-color: orangered;
}

.inputs>div{
    position: relative;
    margin: 20px 20px;

    
}

label{
    color: var(--def-form-color);
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}
input:focus+label,
input:valid+label{
    top: -20px;
    pointer-events: none;
}

input{
    outline: none;
    font-size: 24px;
    color: var(--def-form-color);
    background-color: transparent;
    border: none;
    border-bottom:2px solid var(--def-form-color) ;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--main-bg-color) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--def-form-color)!important;
}


a{
    font-style: italic;
    font-weight: 700;
    background-color: var(--main-bg-color);
    text-decoration: none;
    color: red;
}

a:hover{
    color: orangered;
}